In [3]:
import csv
import json
import requests
import pandas
coviddata = json.loads(requests.get("https://covid19.th-stat.com/api/open/cases").text)
result = pandas.DataFrame.from_dict(coviddata['Data'])
result.dropna(axis='columns')

,ConfirmDate,Age,Gender,GenderEn,Nation,Province,ProvinceId,District,ProvinceEn,StatQuarantine
0,2020-08-14 00:00:00,25.0,ชาย,Male,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
1,2020-08-14 00:00:00,72.0,ชาย,Male,Thailand,ชลบุรี,9,สัตหีบ,Chonburi,1
2,2020-08-14 00:00:00,45.0,หญิง,Female,Thailand,ชลบุรี,9,สัตหีบ,Chonburi,1
3,2020-08-14 00:00:00,41.0,หญิง,Female,Thailand,ชลบุรี,9,สัตหีบ,Chonburi,1
4,2020-08-14 00:00:00,40.0,หญิง,Female,Thailand,ชลบุรี,9,สัตหีบ,Chonburi,1
...,...,...,...,...,...,...,...,...,...,...
3372,2020-01-24 00:00:00,66.0,หญิง,Female,China,นนทบุรี,24,,Nonthaburi,0
3373,2020-01-22 00:00:00,68.0,ชาย,Male,China,กรุงเทพมหานคร,1,,Bangkok,0
3374,2020-01-22 00:00:00,73.0,หญิง,Female,Thailand,นครปฐม,19,เมือง,Nakhon Pathom,0
3375,2020-01-17 00:00:00,74.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0
3376,2020-01-12 00:00:00,61.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0