In [2]:
import json
import requests
import pandas
coviddata = json.loads(requests.get("https://covid19.th-stat.com/api/open/cases").text)
result = pandas.DataFrame.from_dict(coviddata['Data'])
result.dropna(axis='columns')

,ConfirmDate,Age,Gender,GenderEn,Nation,Province,ProvinceId,District,ProvinceEn,StatQuarantine
0,2020-08-23 00:00:00,53.0,ชาย,Male,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
1,2020-08-23 00:00:00,29.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
2,2020-08-23 00:00:00,26.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
3,2020-08-23 00:00:00,45.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
4,2020-08-23 00:00:00,41.0,หญิง,Female,Thailand,กรุงเทพมหานคร,1,ประเวศ,Bangkok,1
...,...,...,...,...,...,...,...,...,...,...
3391,2020-01-24 00:00:00,66.0,หญิง,Female,China,นนทบุรี,24,,Nonthaburi,0
3392,2020-01-22 00:00:00,68.0,ชาย,Male,China,กรุงเทพมหานคร,1,,Bangkok,0
3393,2020-01-22 00:00:00,73.0,หญิง,Female,Thailand,นครปฐม,19,เมือง,Nakhon Pathom,0
3394,2020-01-17 00:00:00,74.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0
3395,2020-01-12 00:00:00,61.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0

In [5]:
result.describe()

               Age   ProvinceId  StatQuarantine
count  3396.000000  3396.000000     3396.000000
mean     38.138486    18.562132        0.154005
std      15.509886    22.286433        0.361006
min       0.000000     1.000000        0.000000
25%      26.000000     1.000000        0.000000
50%      36.000000     3.000000        0.000000
75%      48.250000    38.000000        0.000000
max      97.000000    78.000000        1.000000

In [78]:
import numpy
numpy.sum(result['Age']==0)
# Age: There are 19 data  that has value of 0 which're invalid **numpy.sum(result['Age']==0)
#      Another 4 data that has value of (0,1) **numpy.sum(result['Age']<1) (There are negative value in Age)
#      Also another 6 data that has value of 1 **numpy.sum(result['Age']==1)
# 29 COVID patients has age less than or equal to 1 years old is very unreasonable 
# Another unreasonable point is that about half of data has age of float value and another half of data has exact integer value.
# I interpreted that doesn't make sense (about half of patients are discovered as COVID patients on their birthday)
# At first, I thought it was just missing values(value of 0) and about to replace these missing values using attribute mean.
# But it turned out that some of the data might be artificially made.
# Therefore, I assume that source of data seem to be fake and unreliable; the data is garbage and shouldn't be used for analysis.

19