In [2]:
import json
import requests
import pandas
coviddata = json.loads(requests.get("https://covid19.th-stat.com/api/open/cases").text)
result = pandas.DataFrame.from_dict(coviddata['Data'])
result.dropna(axis='columns')

,ConfirmDate,Age,Gender,GenderEn,Nation,Province,ProvinceId,District,ProvinceEn,StatQuarantine
0,2020-08-23 00:00:00,53.0,ชาย,Male,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
1,2020-08-23 00:00:00,29.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
2,2020-08-23 00:00:00,26.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
3,2020-08-23 00:00:00,45.0,หญิง,Female,Thailand,ชลบุรี,9,บางละมุง,Chonburi,1
4,2020-08-23 00:00:00,41.0,หญิง,Female,Thailand,กรุงเทพมหานคร,1,ประเวศ,Bangkok,1
...,...,...,...,...,...,...,...,...,...,...
3391,2020-01-24 00:00:00,66.0,หญิง,Female,China,นนทบุรี,24,,Nonthaburi,0
3392,2020-01-22 00:00:00,68.0,ชาย,Male,China,กรุงเทพมหานคร,1,,Bangkok,0
3393,2020-01-22 00:00:00,73.0,หญิง,Female,Thailand,นครปฐม,19,เมือง,Nakhon Pathom,0
3394,2020-01-17 00:00:00,74.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0
3395,2020-01-12 00:00:00,61.0,หญิง,Female,China,กรุงเทพมหานคร,1,,Bangkok,0

In [39]:
#Age
print('#Age')
result['Age'].describe()

#Age

count    3396.000000
mean       38.138486
std        15.509886
min         0.000000
25%        26.000000
50%        36.000000
75%        48.250000
max        97.000000
Name: Age, dtype: float64

In [48]:
#Gender
print('#Gender')
result['GenderEn'].value_counts()

#Gender

Male      1901
Female    1495
Name: GenderEn, dtype: int64

In [50]:
#Nation
print('#Nation')
result['Nation'].value_counts()

#Nation

Thailand                 3049
Burma                      56
China                      35
France                     29
UnitedKingdom              26
ต่างด้าว                   21
UnitedStatesofAmerica      15
Russia                     13
Japan                      11
India                      10
ไม่ทราบ                     9
Italy                       9
Germany                     9
Canada                      8
Sweden                      6
Belgium                     6
Switzerland                 6
Australia                   5
Denmark                     5
Singapore                   5
Philippines                 5
Malaysia                    4
Vietnam                     4
Pakistan                    4
Indonesia                   3
Cambodia                    3
Korea,South                 3
Brazil                      2
Finland                     2
Albania                     2
Serbia                      2
Netherlands                 2
Kazakhstan                  2
spain                       2
Israel                      2
Laos                        2
Yemen                       1
Taiwan                      1
NewZealand                  1
Hungary                     1
Liberia                     1
Mali                        1
Ukraine                     1
Bangladesh                  1
Kuwait                      1
India-Thailand              1
Iran                        1
Egypt                       1
Portugal                    1
Uzbekistan                  1
สหราชอาณาจักร               1
Mexico                      1
Sudan                       1
Tunisia                     1
Palestine                   1
Name: Nation, dtype: int64

In [51]:
#Province
print('#Province')
result['ProvinceEn'].value_counts()

#Province

Bangkok            1674
Chonburi            257
Phuket              227
Samut Prakan        172
Nonthaburi          158
                   ...
Unknown               1
Samut Songkhram       1
Sakon Nakhon          1
Uthai Thani           1
Phrae                 1
Name: ProvinceEn, Length: 69, dtype: int64

In [59]:
#District
print('#District')
result['District'].value_counts()
#1253 ppl from other countries

#District

              1253
เมือง          262
สะเดา           81
กะทู้           79
ถลาง            70
              ...
เนินมะปราง       1
นามน             1
คลองจั่น         1
ศรีณรงค์         1
ฆ้องชัย          1
Name: District, Length: 310, dtype: int64

In [60]:
#StatQuarantine
print('#StatQuarantine')
result['StatQuarantine'].value_counts()

#StatQuarantine

0    2873
1     523
Name: StatQuarantine, dtype: int64